/* Estilos gerais da página */
body {
    font-family: Ubuntu, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 25px;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.1);
}
.navbar-logo {
    max-width: 100px;
    height: auto;
    display:block
    
}
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 18px;
    margin-right: 5px;
    margin-left: 50px;
    color: #333;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #1808fd;
}

/* Estilos da seção do portfólio */
.embed-responsive {
    margin-top: 20px;
}
/* Estilos para o carrossel */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
}
.carousel-item {
    position: relative;
    height: 90vh; /* Ajuste a altura conforme necessário */
}
.carousel-caption h5 {
    font-size: 24px;
    margin-bottom: 5px;
}

.carousel-caption p {
    font-size: 16px;
    margin-bottom: 10px;
}

.carousel-caption .btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.carousel-caption .btn:hover {
    background-color: #2980b9;
}


/* Estilos para o banner */
.banner {
    background-image: url('img/banner-background.png');
    background-size: cover;
    background-position: center;
    color: #ffffff; /* Cor do texto no banner */
    padding: 100px 0; /* Espaçamento interno do banner */
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Estilos para os títulos das seções */
h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Estilos para os parágrafos */
p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.perfil-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

